*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

a:hover{
	color: blue;
}

.header {
	width: 100%;
	height: 40px;
	display: block;
	background-color: #101010;
}

.inner_header {
	width: 70%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo_container{
	height: 100%;
	display: table;
	float: left;
}

.logo_container h1{
	color: white;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: "Montserrat";
	font-size: 26;
	font-weight: 100;
}

.logo_container h1 span{
	font-weight: 1000;
}
.logo_container img{
	background-size: 100% 100%;
	display: table-cell;
	vertical-align: middle;
}

.navigation {
	float: right;
	height: 100%;
}



.navigation a{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 10px;
}



.navigation a:last-child{
	padding-right: 0;
}

.navigation a li{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-family: 'Montserrat';
	font-size: 20px;
}

.filters li {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-family: 'Montserrat';
	font-size: 16px;
	padding-right: 5px;
}

.project {
	width: 100%;
	padding-right: 20px;
	background-color: white;
	color: black;
}

.project td {
	width: 100%;
}

.box_profile {
	width: 60%;
	background: white;
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: black;
	font-family: 'Montserrat';
}

.box_profile .bio {
	text-align: left;
}

.box_profile img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	padding-bottom: 20px;
}

.box {
	width: 60%;
	background: rgba(0,0,0,0.4);
	padding:20px;
	text-align: center;
	margin: auto;
	margin-top: 2%;
	color: white;
	font-family: 'Montserrat';
}

@media(max-width: 900px) and (min-width: 700px){

.header {
	width: 100%;
	height: 59.2px;
	display: block;
	background-color: #101010;
}

.inner_header {
	width: 70%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo_container{
	height: 100%;
	display: table;
	float: left;
}

.logo_container h1{
	color: white;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: "Montserrat";
	font-size: 23.68;
	font-weight: 74.4;
}

.logo_container h1 span{
	font-weight: 744;
}
.logo_container img{
	background-size: 100% 100%;
	display: table-cell;
	vertical-align: middle;
}

.navigation {
	float: right;
	height: 100%;
}



.navigation a{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 14px;
}



.navigation a:last-child{
	padding-right: 0;
}

.navigation a li{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-family: 'Montserrat';
	font-size: 9px;
}


.filters li {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-family: 'Montserrat';
	font-size: 9px;
	padding-right: 3px;
}

.project {
	width: 100%;
	padding-right: 14px;
	background-color: white;
	color: black;
}

.project td {
	width: 100%;
}

.box_profile {
	width: 60%;
	background: white;
	padding: 29.6px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: black;
	font-family: 'Montserrat';
}

.box_profile img {
	border-radius: 50%;
	width: 148px;
	height: 148px;
	padding-bottom: 14px;
}

.box {
	width: 60%;
	background: rgba(0,0,0,0.4);
	padding: 14px;
	text-align: center;
	margin: auto;
	margin-top: 2%;
	color: white;
	font-family: 'Montserrat';
}
	}