*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

html, body  {
	height: 100%;
}
.footer {
	width: 100vw;
	display: block;
	overflow: hidden;
	padding: 20px 0;
	box-sizing: border-box;
	background-color: #18181a;
	position: absolute;
}

.inner_footer {
	display: block;
	margin: 0 auto;
	width: 70%;
	height: 100%;
}

@media(max-width: 900px) and (min-width: 700px){
.footer {
	width: 100vw;
	display: block;
	overflow: hidden;
	padding: 30px 0;
	box-sizing: border-box;
	background-color: #18181a;
	bottom: 0;
}

.inner_footer {
	display: block;
	margin: 0 auto;
	width: 70%;
	height: 100%;
}

.inner_footer .logo_container {
	width: 35%;
	height: 100%;
	display: block;
}

.inner_footer .logo_container img {
	width: 20px;
	height: auto;
}

.inner_footer .footer_third {
	width: calc(21.666666666666667% - 20px);
	margin-right: 7px;
	float: left;
	height: 100%;
}

.inner_footer .footer_third:last-child{
	margin-right: 0;
}

.inner_footer .footer_third h1{
	font-family: 'Montserrat';
	font-size: 9px;
	color: white;
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.inner_footer .footer_third a{
	font-family: 'Montserrat';
	font-size: 6px;
	color: white;
	display: block;
	font-weight: 100px;
	width: 100%;
	padding-bottom: 1.5px;
}

.inner_footer .footer_third li{
	display: inline-block;
	padding: 0 3px;
	font-size: 6px;
}
}


